* {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
  }
  nav{
    /* border:1px solid red; */
    display: flex;
    justify-content: space-between;
    height:90px;
    width:100%;
    margin:auto;
    background-color: #535da1;
    color:white;
    
  }
  #navbar-left{
    /* border:1px solid blue; */
    display: flex;
    justify-content: space-between;
    width:40%;
    margin-left: 8%;
  }
  #navbar-left>div{
    /* border:1px solid yellow; */
    cursor: pointer;
    padding: 30px 10px;
  }
  #navbar-left>div:hover{
    color:lightgreen;
    text-decoration: underline;
  }
  #navbar-left >div:first-child:hover{
    color:white;
    text-decoration: none;
  }
  #navbar-left >div:first-child{
    padding: 20px 10px;
    font-size:32px;
    font-weight:bolder;
  } 
  #navbar-right{
    /* border:1px solid purple; */
    display: flex;
    justify-content: right;
    width:30%;
    margin-right: 8%;
    margin-top: 10px;
  }
  #navbar-right >div{
    margin-top:20px;
    cursor: pointer;
  }
  #navbar-right >div:first-child{
    background-color:white;
    height:50px;
    width:50px;
    border-radius: 50%;
    margin-right: 20px;
    margin-top:15px;
  }
  #navbar-right >div:first-child >i{
    padding-left:12px;
    padding-top:25px;
    color:#535da1;
  }
  #navbar-right >div:nth-child(2){
    border: 1px solid white;
    width:45%;
    height: 50%;
    border-radius:23px;
  }
  #navbar-right >div:nth-child(2) >button{
    height: 100%;
    width: 100%;
    background-color:#535da1;
    border:1px solid white;
    color:white;
    font-size:larger;
    font-weight:bold;
    border-radius:23px;
    cursor: pointer;
  }
#my-info{
  /* border:1px solid red; */
  position: relative;
  width:88%;
  height: 350px;
  margin: auto;
  margin-top: 100px;
  z-index:1;
  display: flex;
  justify-content: space-between;
}
#info-left{
  /* border:1px solid blue; */
  width: 50%;
  margin-top: 100px;
}
#info-left >div:first-child {
  display: flex;
  /* border:1px solid yellow; */
  width:100%;
}
#info-left >div:first-child >div >img{
  height:95px;
  width:95px;
  border-radius:50%;
}
#info-left >div:first-child h3, #info-left >div:nth-child(2) {
  height:50px;
  width:30%;
  /* border:1px solid green; */
  font-size: 35px;
  font-weight: bold;
  padding:5px 12px;
  background-color: white;
  margin: 12px 0 0 20px;
  border-radius: 32px;
  color: #212529;
}
#info-left >div:nth-child(2){
margin:20px 0;
width:80%;
color: #14b789;
}
#info-left button{
  width:20%;
  height:50px;
  margin-top: 10px;
  border-radius: 32px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  color:white;
  background-color: #535da1;
} 
#info-right >div{
  /* border: 1px solid red; */
  height: 350px;
  width: 350px;
  border-radius: 50%;
  background-color: white;
  margin-right: 130px;
}
#info-right >div img{
  width: 600px;
  height: 420px;
  position: absolute;
  top:0;
  right: 0;
  z-index: +1;
}
svg{
  /* border:1px solid blue; */
  position:absolute;
  top:90px;
  left:0;
  height: 590px;
  background: -webkit-linear-gradient(
          top,
          #535da1 100%,
          white 0
        );
}